@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    
}

th {
    color: white;
    background-color: rgba(128, 128, 128, 0.726);
    border: 1px, solid, black;
    padding: 10px;
}

td {
    border: 1px, solid, black;
    padding: 10px;
}

.tipo {
    background-color: white;
    color: black;
}

.media {
    font-weight: bold;
    color: white;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.726);
}